@font-face {
    font-family: "Saira Extra Condensed";
    src:url('/fonts/MeriendaOne-Regular.ttf');
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: lightgray;
    font-family: "Saira Extra Condensed", sans-serif;
}

table {
    background-color: #d8cfb3;
}

.navbar {
    background-image: url('/Assets/navbkg.png');
    background-repeat: repeat-x;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-color: #2d1903;
    border: black solid;
    border-width: 0 3px 3px;
    color: white;
}

.container{
    padding: 1em;
}

.card {
    padding: 20px;
    background: #2d1903;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    border-radius: 5px;
    text-align: center;
    color: white;
    min-height: 250px;
}

.btn-card {
    font-size: 25px;
    display: block;
    background: #F6B352;
    color: white;
    padding: 15px 20px;
    margin: 20px 0;
    border-radius: 5px;
    text-shadow: 1px 1px 1px #333;
    transition: all 200ms ease-in-out;
    text-decoration: none;
}

    .btn-card:hover {
        background: #F68657;
        text-decoration: none;
        text-shadow: 1px 1px 1px white;
    }

    thead{
        background-color: black;
        color: white;
    }
    th{
        font-size: 24px;
    }
