body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-color: lightblue;
    border: black solid;
    border-width: 0 3px 3px;
}

.container {
    padding: 1em;
}

.homepage-nav {
    background-color: lightblue;
    border: black solid;
    border-width: 3px;
    min-height: 150px;
    padding: 0 1em;
}

    .homepage-nav a:hover {
        text-decoration: none;
    }

    .homepage-nav a {
        display: block;
        font-size: large;
    }

    thead{
        background-color: black;
        color: white;
    }
    th{
        font-size: 24px;
    }
