@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>There's nothing else to know, honestly. Make Cards. Put them in Decks. Take them out of Decks. Have fun with it. Don't break it.</p>
