@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Primarily, the goal of this application is to provide a place to create your own cards for a card game you're designing. It's a bare-bones, simple card creator and organizer. More features will probably be added.</p>
