@{
    ViewBag.Title = "Contact Us/Me";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    293 Oak Valley Dr<br />
    Longview, TX 75605<br />
    <abbr title="Phone">P:</abbr>
    480.280.4815
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:nickcoon44@gmail.com">my Gmail address</a><br />
    <strong>Marketing:</strong> <a href="mailto:nickcoon44@yahoo.com">my Yahoo address</a>
</address>