@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cards And Decks</h1>
    <p class="lead">Have you ever wanted to create cards, then add them to a deck? And then edit that deck? Well now you can! WOW!</p>
    @Html.ActionLink("Learn More About This", "About")
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Templates</h2>
        <p>
            How do we know what kind of cards we are creating? What properties do they have? Create Templates for your cards to define their properties.
        </p>
        @Html.ActionLink("Create", "Create", "Template")
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Cards</h2>
        <p>If you have a Template created already, go ahead and make Cards here!</p>
        @Html.ActionLink("Create", "Create", "Card")
    </div>
    <div class="col-md-4">
        <h2>Decks</h2>
        <p>Organize your cards into Decks!</p>
        @Html.ActionLink("Create", "Create", "Deck")
    </div>
</div>